<nav class="left l m" style="margin-left: 24px;">
    <header class="">
        <img src="/static/logo.png" alt="kodosumi" width="32">
    </header>
    <a href="/admin/flow">
        <i>widgets</i>
        <div>Services</div>
    </a>
    <a href="/admin/exec">
        <i>view_list</i>
        <div>Jobs</div>
    </a>
    <a href="/admin/routes">
        <i>tune</i>
        <div>Control</div>
    </a>
    <div class="divider"></div>
    <a href="/admin/logout">
        <i>logout</i>
        <div>Logout</div>
    </a>
</nav>
<nav class="bottom s">
    <a href="/admin/flow">
        <i>widgets</i>
    </a>
    <a href="/admin/exec">
        <i>view_list</i>
    </a>
    <a href="/admin/routes">
        <i>directions</i>
    </a>
</nav>
