<nav class="left l m" style="margin-left: 18px;">
    <header class="">
        <img src="/static/logo.avif" alt="kodosumi" width="32">
    </header>
    <a href="/admin/flow">
        <i>apps</i>
        <div>Services</div>
    </a>
    <a href="/admin/timeline/view">
        <i>view_timeline</i>
        <div>Timeline</div>
    </a>
    <a href="/admin/dashboard">
        <i>dashboard</i>
        <div>Analytics</div>
    </a>
    <a href="/admin/routes">
        <i>tune</i>
        <div>Control</div>
    </a>
    <a href="/admin/expose">
        <i>cloud_upload</i>
        <div>Expose</div>
    </a>
    <a href="/admin/masumi">
        <i>account_balance</i>
        <div>Masumi</div>
    </a>
    <div class="divider"></div>
    <a href="/logout?redirect=/">
        <i>logout</i>
        <div>Logout</div>
    </a>
    <div style="position: absolute; bottom: 24px; left: 18px;"> 
        <i id="mode" onclick="toggleTheme()" style="cursor: pointer;">dark_mode</i>
    </div>
</nav>
<nav class="bottom s">
    <a href="/admin/flow">
        <i>apps</i>
    </a>
    <a href="/admin/timeline/view">
        <i>view_timeline</i>
    </a>
    <a href="/admin/dashboard">
        <i>dashboard</i>
    </a>
    <a href="/admin/routes">
        <i>tune</i>
    </a>
    <a href="/admin/expose">
        <i>cloud_upload</i>
    </a>
    <a href="/admin/masumi">
        <i>account_balance</i>
    </a>
</nav>
