{% extends "_main.html" %}

{% block headline %}
Agentic Services
{% endblock %}

{% block main %}
<div class="grid">
    {% for flow in flows %}
    <div class="s6 m3 l4">
        <a href="{{ flow.entry_point }}" style="display: block;">
            <article class="border" onmouseover="this.classList.add('secondary')"
                onmouseout="this.classList.remove('secondary')">
                <h6>{{ flow.summary }}</h6>
                <p>{{ flow.description }}</p>
                <label class="small">
                    {% if flow.organization != none %}
                    {{ flow.organization }}
                    {% else %}
                    -
                    {% endif %}
                </label>
            </article>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}