{% extends "_main.html" %}

{% block head %}
{% endblock %}

{% block headline %}
Execution Status and Results
{% endblock %}

{% block main %}
<page>
    <div class="page top active">
        <div class="grid">
            <div class="s12 m12 l6">
                <div class="field border label">
                    <input id="fid" type="text" value="{% if execution["extra"] %}{{ execution["extra"]["name"]  }}{% else %}{{ execution["entry_point"]  }}{% endif %}" readonly />
                    <label>Name</label>
                </div>
                <div class="field border label">
                    <input id="entry_point" type="text" value="{{ execution["entry_point"] }}" readonly />
                    <label>Entry Point</label>
                </div>
                <div class="field border label suffix">
                    <input id="status" type="text" value="unknown" readonly />
                    <label>Job Status</label>
                    <progress id="spinner" class="circle"></progress>
                </div>
                <div class="field border label">
                    <input id="fid" type="text" value="{{ execution["fid"] }}" readonly />
                    <label>Job ID</label>
                </div>
                <div class="field border label">
                    <input id="tearup" type="text" value="" readonly />
                    <label>Startup</label>
                </div>
                <div class="field border label">
                    <input id="teardown" type="text" value="" readonly />
                    <label>Shutdown</label>
                </div>
                <div class="field border label">
                    <input id="runtime" type="text" value="{{ execution["lifetime"] | round(1) if execution["lifetime"] else "N/A" }}s" readonly/>
                    <label>Runtime</label>
                </div>
                {% if execution["alive"]["actor"] != none %}
                    {% set ray_state = execution["alive"]["actor"]["State"] %}
                {% else %}
                    {% set ray_state = "stopped" %}
                {% endif %}
                    <div class="field border label">
                    <input id="ray_state" type="text" value="{{ ray_state }}" readonly />
                    <label>Ray Status</label>
                </div>
            </div>
            <div class="s12 m12 l6">
                <div class="field border" style="width: 100%; height: 100%;">
                    <textarea id="output" style="width: 100%; height: 100%; font-family: monospace; font-size: 0.9rem !important;" readonly></textarea>
                </div>
            </div>
        </div>
        <hr class="large"/>
        <div id="final_result" class="s12 m12 l6" style="display: none;">
            <h3>Result</h3>
            <hr class="large"/>
            <blockquote style="font-family: monospace; font-size: 0.9rem" id="result"></blockquote>
        </div>
    </div>
</page>

{% endblock %}

{% block foot %}
<script>
    let tearup = null;
    function report_runtime(data) {
        const parts = event.data.split(" ");
        const timestamp = parts[0];
        const date = new Date(timestamp);
        const formattedTimestamp = date.getFullYear() + '-' +
            ('0' + (date.getMonth() + 1)).slice(-2) + '-' +
            ('0' + date.getDate()).slice(-2) + ' ' +
            ('0' + date.getHours()).slice(-2) + ':' +
            ('0' + date.getMinutes()).slice(-2) + ':' +
            ('0' + date.getSeconds()).slice(-2);
        if (timestamp) {
            const runtime = parseFloat(parts[1]);
            document.getElementById('runtime').value = parseFloat(runtime).toFixed(1);
            const message = parts.slice(2).join(" ");
            if (tearup == null) {
                document.getElementById('tearup').value = formattedTimestamp;
                tearup = formattedTimestamp;
            }
            document.getElementById('teardown').value = formattedTimestamp;
            return message;
        }
        return "";
    }
    function sse_stream() {
        // Replace 'your_fid' with the actual fid you want to listen to
        const eventSource = new EventSource("/-/executions/sse/{{execution['fid']}}")
        eventSource.onopen = function(event) {
            console.log('SSE stream opened:', event);
        };
        eventSource.addEventListener('status', function(event) {
            const message = report_runtime(event.data);
            console.log("have status", message)
            document.getElementById('status').value = message;
            if (message === "finished" || message === "error") {
                document.getElementById('spinner').style.display = 'none';
            }
        });
        eventSource.addEventListener('stdout', function(event) {
            const message = report_runtime(event.data);
            const outputTextarea = document.getElementById('output');
            outputTextarea.value += message + '\n';
            outputTextarea.scrollTop = outputTextarea.scrollHeight; // Scroll to the bottom
        });
        eventSource.addEventListener('except', function(event) {
            const message = report_runtime(event.data);
            const outputTextarea = document.getElementById('output');
            outputTextarea.value += message + '\n';
            outputTextarea.scrollTop = outputTextarea.scrollHeight; // Scroll to the bottom
        });
        eventSource.addEventListener('eof', function(event) {
            console.log("eof event")
            const message = report_runtime(event.data);
            eventSource.close();
            fetch(`/-/executions/final/{{execution["fid"]}}`)
                .then(response => response.text())
                .then(data => {
                    const finalResultElement = document.getElementById('final_result');
                    finalResultElement.style.display = 'block';
                    document.getElementById('result').innerText = data;
                    console.log("done")
                })
                .catch(error => {
                    console.error('Error fetching final execution result:', error);
                });

        });
        eventSource.onerror = function(event) {
            console.error('SSE error:', event);
            // console.error('Event type:', event.type);
            // console.error('Event data:', event.data);
            eventSource.close();
            console.error("SSE stream ERROR");
            //setTimeout(sse_stream, 5000); // Retry after 5 seconds
        };
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        sse_stream();
    });
</script>
{% endblock %}